{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>{{ _('Reset Your Password') }}</h1>
    {{ wtf.quick_form(form) }}
    <script>
        window.addEventListener("load", function(){
            var checkbox  = document.getElementById('{{form.show_password.id}}');
            var x = document.getElementById('{{form.password.id}}');
            var y = document.getElementById('{{form.password2.id}}');
            var changePasswordDisplayed = function() {
                if(this.checked) {
                    x.type = 'text'; 
                    y.type = 'text';
                } else {
                    x.type = 'password'; 
                    y.type = 'password'; 
                }
            };
            changePasswordDisplayed();
            checkbox.addEventListener('change', changePasswordDisplayed);
        });
    </script>
{% endblock %}
